In [3]:
from sklearn import svm
import pandas as pd
import math

data = pd.read_csv('archive/zoo.csv')
data.head(6)

from sklearn.model_selection import train_test_split

all_x = data.iloc[:, 1:17] # all rows, features only, no labels
all_y = data.iloc[:,17]    # all rows, label only, no features

x_train, x_test, y_train, y_test = train_test_split(all_x, all_y)

print(x_train.shape, x_test.shape, y_train.shape, y_test.shape)

clf = svm.SVC()
clf.fit(x_train, y_train)

clf.score(x_test, y_test)

clf.predict(x_test[10:15])

# show what the correct answer is
y_test[10:15]

,animal_name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,class_type
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
5,buffalo,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1

In [ ]:
from sklearn import svm
from sklearn.neighbors import KNeighborsClassifier
import pandas as pd

df = pd.read_csv('zoo.csv')

from sklearn.model_selection import train_test_split

all_x = df.iloc[:,1:17]
all_y = df.iloc[:,17]

x_train, x_test, y_train, y_test = train_test_split(all_x,all_y)

#clf = svm.SVC()
#clf.fit(x_train,y_train)
#clf.predict(x_test[10:15])

model = KNeighborsClassifier(n_neighbors=3)

model.fit(x_train,y_train)
score_ = model.score(x_test,y_test)

predicted_ = model.predict(x_test[10:15])

check_y_test = y_test[10:15]